[submodule "lib/bgfx.cmake"]
	path = lib/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "lib/SDL3"]
	path = lib/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/dr_libs"]
	path = lib/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "lib/luajit"]
	path = lib/luajit
	url = https://github.com/WohlSoft/LuaJIT.git
[submodule "lib/ImGuiColorTextEdit"]
	path = lib/ImGuiColorTextEdit
	url = https://github.com/goossens/ImGuiColorTextEdit.git
	branch = future
[submodule "lib/nlohmann_json"]
	path = lib/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "lib/kissfft"]
	path = lib/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "ref/AVSWeb"]
	path = ref/AVSWeb
	url = https://github.com/jeremyabel/AVSWeb.git
[submodule "ref/vis-avs"]
	path = ref/vis-avs
	url = https://github.com/grandchild/vis_avs.git
[submodule "lib/imgui_gradient"]
	path = lib/imgui_gradient
	url = https://github.com/Coollab-Art/imgui_gradient.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
